@import url('https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap%27%29%3B');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    font-family: "Baskerville Old Face";
    width: 100%;
    height: auto;
    background-color: #333;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: rgba(114, 77, 53, 0.77);
    border-radius: 20px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(114, 77, 53, 0.77);
}

nav {
    width: 100%;
    height: 10vh;
}

.nav-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hamburg,
.cancel {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    color: #aaa;
    opacity: 0;
    pointer-events: none;
    font-size: clamp(2.5rem, 0.5rem + 5vw, 3rem);
}

.nav-container .links {
    display: flex;
}

.nav-container .links a {
    position: relative;
    font-size: 1.2rem;
    color: #ffffff;
    margin: 0 20px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s linear;
}

.nav-container .links a::before {
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    background: #da7259;
    transition: 0.3s linear;
}

.nav-container .links a:hover::before {
    width: 100%;
}

.nav-container .links a:hover {
    color: #da7259;
}

.dropdown{
    z-index: 100;
    position: absolute;
    top: 0;
    transform: translateY(-500px);
    width: 100%;
    height: auto;
    backdrop-filter: blur(4px) brightness(40%);
    box-shadow: 0 0 20px black;
    transition: 0.3s linear;
}

.dropdown .links a {
    display: flex;
    color: white;
    text-decoration: none;
    justify-content: center;
    padding: 15px 0;
    align-items: center;
    transition: 0.3s linear;
}

.dropdown .links a:hover {
    background: #da7259;
}

section {
    width: 100%;
    min-height: 90vh;
}

section header {
    width: 100%;
    min-height: 90vh;
}

header img {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
}

header.hero {
    background-image: url('assets/PERFUMES-OLOR-LIMPIO-1140x760.jpg'); /* Imagen de fondo */
    background-size: cover;
    background-position: center;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content {
    background-color: rgba(36, 34, 34, 0.5);
    padding: 40px;
    border-radius: 10px;
}

.hero-content h1 {
    font-size: 4em;
    margin: 0;
    font-family: 'Georgia', serif;
    color: #724d35;
    text-shadow: 0 10px 15px #000;
}

.hero p {
    font-size: 1.5em;
    padding: 10px 20px;
    margin: 10px 10px;
    color: #b1740f;
}

.btn {
    width: 50%;
    height: 6vh;
    margin: 30px;
    background-color: #8e5b0d;
    color: white;
    border: none;
    font-size: 120%;
    font-weight: 700;
    border-radius: 5px;
    transition: 0.3s linear;
    padding: 10px 20px;
    text-decoration: none;
}

.btn:hover {
    scale: 1.1;
    color: #833f11;
    border: 2px solid #833f11;
    background-color: transparent;
    font-weight: 700;
    box-shadow: 0 10px 15px #000;
}

/* About */

section .content {
    width: 80%;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

.about {
    background-color: #4a4a4a;
}

.about .about-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section .title {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

section .title span {
    color: #251b0b;
    font-size: 3em;
    font-weight: 700;
    position: relative;
    padding-bottom: 8px;
}

section .title span::before,
section .title span::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #251b0b;
    left: 0;
    bottom: 0;
}

section .title span::after {
    bottom: -8px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
}

section .topic {
    color: rgba(114, 77, 53, 0.77);
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0 5px 10px #000;;
    margin-bottom: 10px;
}

.about-details p {
    color: white;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
}

.services .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.services {
    background-color: #4a4a4a;
}

.services h3 {
    color: white;
    font-size: 15px;
    font-weight: 700;
    align-items: center;
    padding: 0 0 20px 0;
}

.services p {
    color: white;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
}

.services .boxes .box {
    margin: 20px 0;
    width: calc(100% / 3 - 20px);
    text-align: center;
    border-radius: 12px;
    padding: 30px 10px;
    box-shadow: 0 5px 10px #000;
    cursor: default;
    color: white;
    transition: all 0.4s ease;
}

.services .boxes .box:hover {
    background-color: rgba(114, 77, 53, 0.77);
    color: white;
}

.services .boxes .box .i {
    height: 50px;
    width: 50px;
    background-color: rgba(114, 77, 53, 0.77);
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    color: white;
    margin: 0 auto 10px auto;
    transition: all 0.4s ease;
}

.boxes .box .i:hover {
    background-color: white;
    color: rgba(114, 77, 53, 0.77);
}

.services .boxes .box:hover .topic,
.services .boxes .box:hover p {
    color: white;
    transition: all 0.4s ease;
}

.services .boxes .box:hover .topic,
.services .boxes .box:hover p {
    color: white;
}

.contact {
    background-color: #4a4a4a;
}

.container {
    width: 80%;
    margin: 0 auto;
}

p {
    color: #251b0b; /* Naranja */
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}

.gallery-images {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gallery-images img {
    width: 30%;
    margin: 10px;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input, form button {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #b17a22; /* Naranja */
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #986b21; /* Amarillo */
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.5em;
    }

    .hero p {
        font-size: 1.2em;
    }

    .btn {
        font-size: 1em;
        padding: 8px 16px;
    }

    .container {
        width: 90%;
    }

    .gallery-images img {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .hero h1 {
        font-size: 2em;
    }

    .hero p {
        font-size: 1em;
    }

    .btn {
        font-size: 0.9em;
        padding: 6px 12px;
    }

    .gallery-images img {
        width: 100%;
    }
}
